
<div class="search">
 <span class="fa fa-search"></span>
 <input type='text' [(ngModel)]="searchText" placeholder="Search for Names"  />
</div>
<div style="margin-bottom:100px;">
<table id="table1">
<tr>
 <th>
  Id
 </th>
 <th>
   Name
 </th>
 <th (click)="sortTable(1)">
   DateCreated
 </th>
</tr>
<tr *ngFor="let item of records | category: searchText" >
 <td><a [routerLink]="['/userdetails',{id:item.id}]">{{item.id}}</a></td>
 <td>{{item.name}}</td>
 <td>{{item.updated_at}}</td>
</tr>
</table>
</div>